
body {
  background-color: #00b3e6;
}
div {
  background-color: white;
  width: 700px;
  padding: 30px;
  margin: auto;
  font-family: Helvetica Neue;
}
#main-header {
  font-size: 22px;
}
.perspective-questions {
  font-style: italic;
}
